body,
.margin {
  margin: 0;
}

.padding {
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.font {
  font-family: "Lato", sans-serif !important;
  font-style: normal;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.for-desktop {
  display: none;
}

.for-phone {
  display: block;
}

button {
  cursor: pointer;
}

.transition {
  transition: all 0.3s ease-in-out 0.1s;
}

.concert-cover-transition {
  transition: all 0.3s ease-in-out 0.5s;
}

.header {
  background-color: rgba(211, 211, 211, 0.2549019608);
  background-image: url("../images/background-image.jpg");
  background-position: center;
}

.header .page-header {
  width: 100%;
}

.header .page-header .nav-bar {
  height: inherit;
  padding: 15px 0 0 20px;
}

.header .page-header .nav-bar .hamburger {
  width: 50px;
}

.header .page-header-body {
  padding: 0 20px 0 20px;
  padding-bottom: 10px;
}

.header .page-header-body .header-text-head {
  font-weight: 495;
  line-height: 20px;
  color: #ec5242;
  padding-top: 30px;
}

.header .page-header-body .header-text-body {
  font-weight: 900;
  background-image: linear-gradient(360deg, #ec5242, rgba(236, 82, 66, 0.7333333333));
  background-clip: text;
  color: transparent;
  margin-top: -15px;
  font-size: 30px;
}

.header .page-header-body .header-text-description-container {
  background-color: #fff;
  padding: 3px;
  height: fit-content;
}

.header .page-header-body .header-text-description-container .header-text-description {
  background-color: rgba(211, 211, 211, 0.2549019608);
  margin: 0;
  padding: 10px 30px 10px 20px;
  height: fit-content;
  color: rgba(39, 42, 49, 0.7803921569);
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
}

.header .page-header-body .find-concert {
  background-image: linear-gradient(360deg, #ec5242, rgba(236, 82, 66, 0.7333333333));
  padding: 10px;
  color: #fff;
  width: fit-content;
  border-radius: 20px;
  font-weight: 400;
  margin-left: 30px;
  display: flex;
  border: 0;
  margin-top: 10px;
}

.header .page-header-body .find-concert .enter-arrow {
  width: 20px;
  margin-left: 10px;
}

.main {
  margin: 0;
  background-color: #272a31;
  padding: 20px 5px 30px 5px;
}

.main .main-head {
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 400;
}

.main .red-line {
  color: #ec5242;
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.main .trending-songs-container {
  padding: 20px 8px 10px 8px;
  display: grid;
  gap: 15px;
}

.main .trending-songs-container .trending-songs-item {
  padding: 10px 8px 15px 8px;
  background-color: rgba(211, 211, 211, 0.137254902);
  display: flex;
}

.main .trending-songs-container .trending-songs-item .headphones {
  padding: 20px 15px 20px 15px;
  width: 80px;
  height: auto;
}

.main .trending-songs-container .trending-songs-item .number {
  padding: 0 0 0 8px;
  color: #ec5242;
  font-weight: 400;
  width: 25%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.main .trending-songs-container .trending-songs-item .song-info-div {
  height: fit-content;
  width: 50%;
}

.main .trending-songs-container .trending-songs-item .song-info {
  color: #fff;
  font-weight: 300;
  font-size: 15px;
}

.main .trending-songs-button-div {
  display: flex;
  justify-content: center;
}

.main .trending-songs-button-div .trending-songs-button {
  background-color: #ec5242;
  border: 0;
  height: 80px;
  color: #fff;
  margin: 30px 0 0 0;
  width: fit-content;
  padding: 0 50px;
  font-weight: 500;
  font-size: 15px;
}

.featured-artists-container {
  display: grid;
  gap: 2px;
}

.featured-artists-item-div {
  display: flex;
  padding: 20px;
}

.featured-artists-image {
  height: 120px;
  margin-top: 14px;
  margin-left: -38px;
}

.featured-artists-body-div {
  padding: 0 20px;
}

.featured-artists-body-div h4 {
  margin: 0;
  color: #272a31;
  font-weight: 600;
}

.featured-artists-body-div h5 {
  margin-top: 10px;
  color: #ec5242;
  font-weight: 400;
}

.featured-artists-body-div div {
  margin-top: -30px;
  color: #d3d3d3;
}

.featured-artists-body-div h6 {
  color: rgba(39, 42, 49, 0.7803921569);
}

.background-top {
  height: 50px;
}

.footer-head {
  display: flex;
  justify-content: center;
  font-weight: 550;
}

.red-line-2 {
  display: flex;
  justify-content: center;
  color: #ec5242;
  padding-bottom: 40px;
  margin-top: -25px;
  font-size: 10px;
}

.end-more-button {
  background-color: #fff;
  width: 100%;
  border: 1px solid #d3d3d3;
  color: #272a31;
  font-weight: 400;
  padding: 13px 0;
}

.end-more-button span {
  padding: 0 5px;
  color: #ec5242;
  font-weight: 700;
}

.footer {
  background-color: #fff;
  padding: 20px 10px 50px 10px;
}

.about-header {
  padding: 0 20px;
  background-image: url("../images/background-image.jpg");
  background-position: center;
}

.about-header .about-page-header {
  background-image: url("../images/background-image.jpg");
  background-position: right;
}

.about-header .about-page-header .about-nav-bar {
  padding: 20px 0 0 5px;
}

.about-header .about-page-header .about-nav-bar .about-hamburger {
  width: 50px;
}

.about-header .about-page-header-body .about-header-text-div {
  display: grid;
}

.about-header .about-page-header-body .about-header-text-div .about-header-text-head {
  display: flex;
  justify-content: center;
  color: #ec5242;
  font-weight: 495px;
  font-size: 20px;
  line-height: 20px;
  padding: 20px;
  text-align: center;
}

.about-header .about-page-header-body .about-header-text-div .about-header-text-body {
  display: flex;
  justify-content: center;
  font-weight: 900;
  color: #ec5242;
  font-size: 35px;
  margin: 0;
  padding: 0 0 60px 25px;
  text-align: center;
}

.about-header .about-page-header-body .about-header-text-description-container {
  border: 1px solid #d3d3d3;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.about-header .about-page-header-body .about-header-text-description-container .about-header-text-description {
  padding: 10px 30px 10px 20px;
  color: rgba(39, 42, 49, 0.7803921569);
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  font-display: flex;
  justify-content: center;
  text-align: center;
}

.about-header .about-page-header-body .contact-paragraph-div {
  padding: 0 70px;
  display: flex;
  justify-content: center;
}

.about-header .about-page-header-body .contact-paragraph-div .contact-paragraph {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  color: rgba(39, 42, 49, 0.7803921569);
  text-align: center;
  line-height: 25px;
  font-weight: 550;
}

.about-header .about-page-header-body .email-link-div {
  display: flex;
  justify-content: center;
  margin-top: -25px;
  padding-bottom: 40px;
}

.about-header .about-page-header-body .email-link-div .email-link {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  color: rgba(39, 42, 49, 0.7803921569);
  text-align: center;
  line-height: 25px;
  font-weight: 550;
}

.about-main-header {
  padding: 20px;
}

.about-main-header h1 {
  text-align: center;
  font-weight: 500;
  color: #272a31;
}

.about-main-header .about-header-red-line {
  color: #ec5242;
  text-align: center;
  margin-top: -25px;
  font-weight: 900;
}

.last-concert-header {
  text-align: center;
  margin-top: -10px;
  color: rgba(39, 42, 49, 0.7803921569);
  font-size: 15px;
  padding: 0 40px;
}

.last-concert-container {
  display: grid;
  gap: 50px;
  padding: 30px;
}

.last-concert-container .last-concert-item:nth-child(1),
.last-concert-container .last-concert-item:nth-child(2) {
  height: 300px;
  width: 100%;
}

.last-concert-container .last-concert-item:nth-child(1) {
  height: 300px;
  width: 100%;
}

.last-concert-container .last-concert-item:nth-child(1) .concert-year-location {
  background-color: #ec5242;
  height: 300px;
  color: #fff;
  padding: 0;
  margin-bottom: -300px;
  mix-blend-mode: multiply;
}

.last-concert-container .last-concert-item:nth-child(1) .concert-images-1 {
  width: inherit;
  height: inherit;
  display: flex;
}

.last-concert-container .last-concert-item:nth-child(2) {
  height: 300px;
  width: 100%;
}

.last-concert-container .last-concert-item:nth-child(2) .concert-year-location-2 {
  background-color: #ec5242;
  height: 300px;
  margin-bottom: -15px;
  padding: 0;
  mix-blend-mode: multiply;
}

.last-concert-container .last-concert-item:nth-child(2) .concert-images-2 {
  width: inherit;
  height: inherit;
  margin-top: -300px;
}

.contact-year-text {
  margin-top: -190px;
  width: 100%;
}

.contact-year-text-head {
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  padding: 0 40px;
  font-weight: 400;
}

.contact-year-text-info {
  position: relative;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 0 50px;
  font-weight: 300;
}

.partners {
  background-image: linear-gradient(250deg, #272a31, rgba(39, 42, 49, 0.7803921569));
}

.partners .partner-head {
  text-align: center;
  color: #fff;
  padding-top: 40px;
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
}

.partners .partner-head-red-line {
  color: #ec5242;
  text-align: center;
  margin-top: -25px;
  font-weight: 300;
}

.partners .partners-logo-ul {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 40px 40px;
}

.partners .partners-logo-ul .partner-logo {
  max-width: 80px;
  height: auto;
}

.footer-end {
  display: flex;
  flex-direction: row;
}

.footer-end .footer-end-items {
  width: 50%;
  padding: 40px;
}

.footer-end .footer-end-items .footer-end-items-logo {
  font-weight: 900 -200;
  line-height: 30px;
  color: #272a31;
}

.footer-end .footer-end-items .footer-end-items-rights {
  font-weight: 400;
  font-size: 15px;
  color: rgba(39, 42, 49, 0.7803921569);
}

.hamburger-pop-up {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  mix-blend-mode: multiply;
  display: none;
  margin-left: -20px;
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 5px;

  /* overflow: hidden; */
}

.overflow {
  overflow: hidden;
}

.power-button {
  background-color: #fff;
  border: 0;
  margin-top: 20px;
  margin-left: 12px;
}

.power-button-image {
  height: 50px;
  width: auto;
}

.pop-up-ul {
  padding: 30px 60px;
  display: grid;
  gap: 20px;
}

.pop-up-ul-text {
  color: #272a31;
  font-weight: 600;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .for-phone {
    display: none;
  }

  .for-desktop {
    display: block;
  }

  .for-desktop-nav-bar-div {
    width: 100%;
    margin-left: -20px;
    margin-top: -5px;
    position: fixed;
    top: 2px;
    left: 20px;
  }

  .long-black-nav {
    height: 20px;
    background-color: #272a31;
    width: inherit;
    padding: 10px 0;
  }

  .desktop-nav-ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: -180px;
  }

  .desktop-nav-ul li {
    padding: 0 10px;
  }

  .desktop-nav-ul button {
    margin: 0;
    color: #fff;
    background-color: inherit;
    border: 0;
  }

  .nav-bar-icon-logo {
    height: 15px;
  }

  .nav-bar-logo-div {
    padding: 10px 60px;
    background-color: #fff;
    margin: 5.5px 0 0 -50px;
    display: flex;
  }

  .nav-bar-logo-div ul {
    display: flex;
    width: 55%;
    justify-content: center;
    padding-left: 105px;
  }

  .nav-bar-logo-div ul li {
    padding: 0 30px;
    margin-top: 12px;
  }

  .nav-bar-logo-div .campaign {
    margin-left: -30px;
    border: 5px solid #ec5242;
    background-color: #fff;
    padding: 0 15px;
    font-weight: 400;
    color: #ec5242;
  }

  .logo {
    padding: 10px;
    width: 20%;
    text-align: end;
  }

  .bottom-header-ul-li-text {
    color: rgba(39, 42, 49, 0.7803921569);
    font-weight: 520;
    font-size: 15px;
  }

  .header-logo {
    font-size: 30px;
    color: #ec5242;
    font-weight: 400;
    line-height: 20px;
  }

  .page-header-body {
    display: grid;
    margin-top: 170px;
  }

  .header-text-head-desk {
    padding: 0 0 0 135px;
    font-size: 40px;
    margin-bottom: -35px;
    color: #ec5242;
    font-weight: 395;
    line-height: 40px;
  }

  .header-text-body-desk {
    padding: 0 0 0 135px;
    font-size: 60px;
    font-weight: 900;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ec5242), to(rgba(236, 82, 66, 0.7333333333)));
    background-image: linear-gradient(360deg, #ec5242, rgba(236, 82, 66, 0.7333333333));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .header-text-description-container-desk {
    background-color: #fff;
    padding: 3px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 135px;
    width: 35%;
    margin-top: -30px;
  }

  .header-text-description-container-desk .header-text-description-desk {
    background-color: rgba(211, 211, 211, 0.2549019608);
    margin: 0;
    padding: 10px 30px 10px 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    color: rgba(39, 42, 49, 0.7803921569);
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
  }

  .find-concert-desk {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ec5242), to(rgba(236, 82, 66, 0.7333333333)));
    background-image: linear-gradient(360deg, #ec5242, rgba(236, 82, 66, 0.7333333333));
    padding: 20px;
    color: #fff;
    width: fit-content;
    border-radius: 20px;
    font-weight: 400;
    margin: 20px 0 20px 135px;
    display: flex;
    border: 0;
  }

  .find-concert-desk .enter-arrow-desk {
    width: 20px;
    margin-left: 10px;
  }

  .main .trending-songs-container {
    display: flex;
    gap: 2px;
    padding: 0 135px;
  }

  .main .trending-songs-container .trending-songs-item {
    margin-top: 30px;
    display: grid;
    width: 20%;
  }

  .main .trending-songs-button-div-desk {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    margin-top: 40px;
  }

  .main .trending-songs-button-div-desk .trending-songs-link {
    color: #fff;
    text-decoration: underline;
    font-weight: 350;
    font-size: 14px;
  }

  .desk-featured-artists-container {
    padding: 0 135px 40px 135px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
  }

  .desk-featured-artists-item-div {
    display: flex;
  }

  .desk-featured-artist-item-child {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .desk-featured-artists-body-div h6 {
    font-weight: 400;
    font-size: 12px;
    color: rgba(39, 42, 49, 0.7803921569);
  }

  .desk-featured-artists-body-div h5 {
    color: #ec5242;
  }

  .desk-featured-artists-body-div div {
    margin-bottom: 10px;
    font-weight: 900;
    color: #d3d3d3;
    font-size: 15px;
  }

  .background-top-desk {
    display: inline-block;
  }

  .featured-artists-image-desk {
    height: 120px;
    width: 120px;
    margin-top: 14px;
    margin-left: -127px;
  }

  .red-line-2-desk {
    text-align: center;
    color: rgba(236, 82, 66, 0.7333333333);
    font-size: 20px;
    margin-top: -40px;
  }

  .footer-desk {
    padding: 20px 0;
  }

  .footer-head-desk {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #272a31;
  }

  .padding-left-right {
    padding: 0 400px;
  }

  .about-header-text-div-desk {
    padding: 200px 300px 20px 300px;
    background-image: url("../images/background-image.jpg");
    background-position: center;
  }

  .about-header-text-body-desk {
    text-align: center;
    color: #ec5242;
    font-weight: 900;
    font-size: 40px;
  }

  .about-header-text-description-container-desk {
    padding: 0 300px;
    background-image: url("../images/background-image.jpg");
    background-position: center;
  }

  .about-header-text-description-desk {
    padding: 30px 60px;
    background-color: #fff;
    color: rgba(39, 42, 49, 0.7803921569);
    text-align: center;
    font-weight: 400;
    font-size: 15px;
  }

  .contact-paragraph {
    text-align: center;
    padding-top: 20px;
    color: rgba(39, 42, 49, 0.7803921569);
    font-weight: 600;
  }

  .email-link-div-desk {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    padding-bottom: 90px;
  }

  .email-link-div-desk a {
    text-decoration: underline;
    color: rgba(39, 42, 49, 0.7803921569);
    font-weight: 900;
  }

  .last-concert-container {
    display: flex;
    gap: 10px;
    padding: 0 300px 20px 300px;
  }

  .partners {
    margin-top: 100px;
  }

  .footer-end {
    display: flex;
    padding: 40px 300px;
    margin-bottom: -300px;
  }

  .footer-end-items-logo-desk {
    color: #fff;
    font-weight: 500;
    padding-right: 40px;
  }

  .footer-end-items-rights-desk {
    color: #fff;
    margin-top: 25px;
    font-weight: 400;
    font-size: 12px;
  }

  .nav-bar-icon-logo:hover {
    background-color: #2230d2;
    color: #ec5242;
    -webkit-box-shadow: 0 8px 16px #fff;
    box-shadow: 0 8px 16px #fff;
    border-radius: 0;
  }

  .nav-bar-icon-logo:active {
    background-color: #6070ff;
    border-radius: 50%;
  }

  .nav-bar-icon-logo:enabled {
    border: 5px solid #ec5242;
    border-radius: 8px;
    background-color: #d3d3d3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .nav-bar-icon-logo:disabled {
    border: 5px solid rgba(211, 211, 211, 0.2549019608);
    background-color: #d3d3d3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .nav-bar-icon-logo-li:hover {
    background-color: #fff;
    color: #6070ff;
    -webkit-box-shadow: 0 0 16px #d3d3d3;
    box-shadow: 0 0 16px #d3d3d3;
    border-radius: 10px;
  }

  .nav-bar-icon-logo-li:active {
    background-color: #6070ff;
    border: 1px dashed #ec5242;
    color: #fff;
  }

  .nav-bar-icon-logo-li:disabled {
    border: 1px solid #ec5242;
    border-radius: 8px;
    background-color: #d3d3d3;
    color: #272a31;
    box-sizing: border-box;
  }

  .header-logo:hover {
    background-color: #ec5242;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .header-logo:active {
    background-color: #ec5242;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 16px rgba(39, 42, 49, 0.7803921569);
    box-shadow: 0 8px 16px rgba(39, 42, 49, 0.7803921569);
  }

  .bottom-header-ul-li-text:hover {
    color: #ec5242;
  }

  .bottom-header-ul-li-text:active {
    background-color: #ec5242;
    color: #fff;
    padding: 2px;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 16px rgba(39, 42, 49, 0.7803921569);
    box-shadow: 0 8px 16px rgba(39, 42, 49, 0.7803921569);
  }

  .campaign:hover {
    border: 5px solid #272a31;
    background-color: #ec5242;
    padding: 0 15px;
    font-weight: 400;
    color: #fff;
  }

  .campaign:active {
    border: 5px solid #272a31;
    background-color: #ec5242;
    padding: 0 15px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 16px rgba(39, 42, 49, 0.7803921569);
    box-shadow: 0 0 16px rgba(39, 42, 49, 0.7803921569);
  }

  .find-concert-desk:hover {
    -webkit-box-shadow: 0 0 16px rgba(39, 42, 49, 0.7803921569);
    box-shadow: 0 0 16px rgba(39, 42, 49, 0.7803921569);
  }

  .concert-year-location-2:hover {
    visibility: collapse;
    cursor: pointer;
  }

  .concert-year-location:hover {
    visibility: collapse;
    cursor: pointer;
  }
}
