$mobile-header-bg: url('../images/background-image.jpg');
$desktop-header-bg: url('../images/background-image.jpg');
$black: #272a31;
$light-black: #272a31c7;
$orange: #ec5242;
$dark-orange: #ec5242bb;
$grey: #d3d3d3;
$dark-grey: #d3d3d341;
$darkest-grey: #d3d3d323;
$white:  #fff;
$light-blue: #6070ff;
$dark-blue: #2230d2;
$font-family: "Lato", sans-serif !important;
$font-style: normal;
$font-weight: 900;
