$mobile-header-bg: url('../images/songkick-background--medium.jpg');
$desktop-header-bg: url('../images/songkick-background--large.jpg');
// $concert-1-bg: url('../images/lastTwoConcert-1.jpg');
// $concert-2-bg: url('../images/lastConcert-2.jpg');
$black: #272a31;
$light-black: #272a31c7;
$orange: #ec5242;
$dark-orange: #ec5242bb;
$grey: #d3d3d3;
$dark-grey: #d3d3d341;
$darkest-grey: #d3d3d323;
$white:  #fff;
$font-family: "Lato", sans-serif !important;
$font-style: normal;
$font-weight: 900;